body {
    font-family: britanic bold;
    text-align:center;
    margin:auto;
    width:100%;
    height:100%;
    
   }
.text-big {
    font-size: 80%;
     text-shadow: 2px 2px green;
}

.bold {
    font-weight: bold;
    margin:auto;
    width:1000px;
    position:absolute;
    background-attachment: fixed;
    background-position: center; 
    
}

h1{
    color:white;
    text-decoration: italics;
    background-color: #C71585; /*purple*/
    margin:auto;
    width:auto;
   
}
h4{
    color:black;
    font-size:40px;
    background-color:yellow;
    margin:auto;
    width:800px;
     font-family:Georgia;
}
p2{
    color: White;
    font-weight:bold;
    background-color:#FFFACD;
    font-size:30px;
    width:10px;
}
.container3{
    color: black;
    font-weight:bold;
    font-size:20px;
    
    margin-left:70px;
    
    width:800px;
}

p4{
    color: White;
    font-weight:bold;
    background-image:url("http://static.flavors.me/dynamic_images/background/c29df5cfc2cd4580a54df243e50b0326") ;
    font-size:18px;
    width:100;
    height:100;
     font-family:georgia;
     padding-bottom:20px;
    
}
p6{
    font-family:lucida handwriting;
    font-size:30px;
}
p{
    color: black;
    font-weight:bold;
    font-size:20px;
    background-color:yellow;
    margin:auto;
    width:800px;
    
}
p5{
   
    font-weight:bold;
    font-size:20px;
    background-color:black;
    margin:auto;
    color:white;
    width:800px;
}

.submit_btn{
    background-color: red; /* Re#FF6347d*/
    border: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
 .button{
    background-color: #FF6347; /* Re#FF6347d*/
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1{
    background-color:  #C71585; /*purple*/
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color:black;
}


.img-medium {
    height: 90px;
    width: 10px;
    margin:auto;
    display: inline-block;
    vertical-align: super;
    outline-style:solid;
}

.img-polygon{
    border-radius:50%;
    height:300px;
    width:300px;
    text-align: left;
    border-image:100px solid;
}
.img-me{
    height:500;
    width:320;
    border-radius:50%;
}

.container2{
    color: black;
    font-weight:bold;
    text-align:center;
    background-image:url("http://www.zingerbugimages.com/backgrounds/wrinkled_pink_paper_background_1800x1600.jpg") ;
   
    margin:auto;
  
   
   
   
}

element.style {
position: absolute;
left: 0px;
top: 0px;
height: 1px;
width: 1px;
}


.container1{
            font-family: britannic bold;
            text-align:center;
            width:2000px;
            
            }
            
.container{
     color: black;
      font-weight:bold;
      text-align:center;
      margin:auto;
      position:relative;
      padding:30px;
  
   
}
