body {
    font-family: britanic bold;
    text-align:center;
    margin:auto;
    width:auto;
    

 
   }
.text-big {
    font-size: 80%;
     text-shadow: 2px 2px green;
}

.bold {
    font-weight: bold;
    margin:auto;
    width:1000px;
}

h1{
    color: White;
    text-decoration: italics;
    background-color:black;
    margin-left:10px;
    margin-right:10px;
}
h4{
    color:Black;
    font-size:40px;
     background-image:url("http://www.bettycrocker.com/~/media/Images/Backgrounds/Yellow-wood_75.jpg");
    margin:auto;
    width:800px;
}
p2{
    color: White;
    font-weight:bold;
    background-color:#FFFACD;
    font-size:30px;
    width:10px;
}
p4{
    color: White;
    font-weight:bold;
    
    font-size:30px;
    width:auto;
    
}
p{
    color: black;
    font-weight:bold;
    font-size:20px;
    background-image:url("http://www.bettycrocker.com/~/media/Images/Backgrounds/Yellow-wood_75.jpg");
    margin:auto;
    width:800px;
    
}
.container2{
   background-color:#FAEBD7;
    margin:auto;
    width:400px;
    text-align:center;
    color:Black;
}
.img-medium {
    height: 90px;
    width: 10px;
    margin:auto;
    display: inline-block;
    vertical-align: super;
    outline-style:solid;
}
.img-polygon{
    border-radius:50%;
    height:300px;
    width:300px;
    text-align: left;
    border-image:100px solid;
}

.container{
    background-color:pink;
}

.container1{
            font-family: britannic bold;
           
            background-image:url("http://tse3.mm.bing.net/th?id=OIP.M89eb782099e550d50fd2c42976dbe549H0&pid=15.1");
            text-align:center;
            width:2000px;
            color: pink;
            }
